{% extends 'templates/app.twig' %}
{% block title %}Homepage{% endblock %}

{% block content %}
  <div class="jumbotron">
	 <h2>Les derniers kebabs :</h2>
	 <div class="last_kebabs">
	 	{% for kebab_most_recent in kebabs_most_recent %}
    	<a href="{{ path_for("view.kebab",{kebab_id:kebab_most_recent['kebab_id']})
							}}">
    		<img src="images/kebabs/{{ kebab_most_recent['kebab_image_path'] }}.{{kebab_most_recent['kebab_image_extension']}}">
			</a>
		{% endfor %}
	 </div>
	 <br>
	 <h2>Les meilleurs kebabs</h2>
	 <div class="best_kebabs">
	 	{% for kebab_best in kebabs_best %}
    		<a href="/kebab/{{kebab_best['kebab_id']}}">
					<img src="images/kebabs/{{ kebab_best['kebab_image_path'] }}.{{kebab_best['kebab_image_extension']}}">
				</a>
		{% endfor %}
	 </div>
  </div>

{% endblock %}
