{% extends 'templates/app.twig' %}
{% block title %}{{ user['user_name']}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            	<div id="kebab_image" class="col-md-4"><img src="/images/kebabs/{{ kebab['kebab_image_path'] }}.{{kebab['kebab_image_extension']}}"></div>
                <div class="container col-md-7 ">

                    <h1 id="kebab_user">{{user["user_name"]}}</h1>
                    <blockquote id="kebab_description">{{kebab['kebab_description']}}</blockquote>
                    {% for tag in tags %}
                        #{{ tag['tag_text'] }}
                    {% endfor %}
                    <div class="kebab_location">
                        <div id="kebab_seller">{{seller["shop_name"]}}</div>
                        <div id="kebab_adress">{{seller["city"]}} {{ seller["street_number"] }} {{seller["street"]}}</div>
                    </div>
                    <div id="created_at">{{kebab['created_at']}}</div>
                </div>
                <div class="container col-md-1">
                    {% include 'templates/partials/vote.twig' %}
                </div>
            </div>
            <div class="panel-body">
                <h2>Les commentaires :</h2>
                {% if comments|length == 0 %}
                    <span>Il semblerait que personne n'ait encore commenté cet humble kebab, et si vous étiez le premier à le faire ?</span>
                {% else %}
                    {% for comment in comment_content %}
                        <div>
                            <blockquote><p>{{ comment.comment_text }}<p><footer> {{ comment.comment_user.user_name}}, le {{ comment.comment_creation }}</footer></blockquote>
                        </div>
                    {% endfor %}
                {% endif %}
                <form action="{{ path_for( "comment.kebab",{kebab_id:kebab['kebab_id']}) }}" method="post">
                    <input type="hidden" name="op" id="op" value="reg">
                    <div>
                        <input name="comment" id="comment" placeholder="I like this kebab !" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Commenter</button>
                    {{ csrf.field | raw }}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
