{% extends 'templates/app.twig' %}
{% block title %}{{ user['user_name']}}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
            	<div id="kebab_image" class="col-md-4"><img src="/images/kebabs/{{ kebab['kebab_image_path'] }}.{{kebab['kebab_image_extension']}}"></div>
                <div class="container col-md-7 ">

                    <h1 id="kebab_user">{{user["user_name"]}}</h1>
                    <blockquote id="kebab_description">{{kebab['kebab_description']}}</blockquote>
                    {% for tag in tags %}
                        #{{ tag['tag_text'] }}
                    {% endfor %}
                    <div class="kebab_location">
                        <div id="kebab_seller">{{seller["shop_name"]}}</div>
                        <div id="kebab_adress">{{seller["city"]}} {{ seller["street_number"] }} {{seller["street"]}}</div>
                    </div>
                    <div id="created_at">{{kebab['created_at']}}</div>
                </div>
                <div class="container col-md-1">
                    {% include 'templates/partials/vote.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
